body {
    background-color: lavender;
}

.list-btn {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.home-btn {
  background-color: #3b82f6;
  max-width: 95px;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-btn:hover,
.home-btn:focus {
  background-color: #2563eb;
}
